/* Copyright 2018 Building Energy Monitor.  All rights reserved. */

/* Replace Boostrap 3 pull-right */
.float-right
{
  float: right !important;
}

/* Replace Boostrap 3 h5 */
h5, .h5
{
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  font-family: inherit;
}

/* Make fonts larger for squinty users */
#bgt_table *
{
  font-size: 14px;
}

/* Right-justify description-list titles on About page */
@media ( min-width: 768px )
{
  .dl-title
  {
    text-align: right;
  }
}
