/* Copyright 2018 BACnet Gateway.  All rights reserved. */

/* Customize width at which full navbar reverts to hamburger */
@media( min-width: 1050px )
{
  .navbar-expand-custom
  {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-custom .navbar-nav
  {
    flex-direction: row;
  }

  .navbar-expand-custom .navbar-nav .nav-link
  {
    padding-right: .5rem;
    padding-left: .5rem;
  }

  .navbar-expand-custom .navbar-collapse
  {
      display: flex!important;
  }

  .navbar-expand-custom .navbar-toggler
  {
    display: none;
  }
}
