/* Copyright 2018 Building Energy Monitor.  All rights reserved. */

/* Placeholder for bar graph */
.bar-graph
{
  width: 95%;
  height: 350px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

/* Reduce crowding in datepicker display */
.datepicker td,
.datepicker th
{
  padding: 5px;
  font-size: 0.9375rem; /* 15px */
}

/* Weather Station temperature button */
#bgt_table_temperature_button i
{
  font-size: 1rem;
}
.temperature-frigid
{
  color: purple;
}
.temperature-cold
{
  color: blue;
}
.temperature-mild
{
  color: green;
}
.temperature-warm
{
  color: orangered;
}
.temperature-hot
{
  color: red;
}

/* For the d3 graph display */
.bar {
  fill: steelblue;
}
.bar:hover {
  fill: brown;
}
