/* Copyright 2018 Building Energy Monitor.  All rights reserved. */

/* Placeholder for bar graph */
.bar-graph
{
  width: 95%;
  height: 350px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

/* Reduce crowding in datepicker display */
.datepicker td,
.datepicker th
{
  padding: 5px;
  font-size: 0.9375rem; /* 15px */
}



/* For the d3 graph display */
.bar {
  fill: steelblue;
}
.bar:hover {
  fill: brown;
}
